<a href="https://colab.research.google.com/github/zoudada67/Defi2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('dataDefi2.csv',encoding='utf8',sep=";")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,...,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,hospital_death
0,113303,63835,185,77.0,"26,82287414",0,African American,M,"172,7",Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,0
1,100799,68271,6,19.0,"22,89090402",0,Asian,M,"167,6",Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,0
2,97702,25893,77,49.0,"33,85575384",0,Caucasian,F,"167,6",Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,0
3,66955,4599,19,52.0,"36,35802469",0,African American,F,180,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,0
4,90681,1541,132,83.0,"29,27783633",0,Caucasian,F,"152,4",Accident & Emergency,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82537,26716,6791,55,54.0,"29,35733473",1,Other/Unknown,M,"182,8",Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Undefined diagnoses,0
82538,10009,33376,174,50.0,"23,02196161",0,Caucasian,M,"180,3",Accident & Emergency,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,0
82539,8410,110955,62,NaN,"19,33376648",0,Caucasian,F,"165,1",Floor,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,1
82540,112003,96590,118,75.0,"18,90655055",0,Caucasian,M,"175,3",Floor,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,0
82541,69087,71222,15,76.0,"43,62151581",0,Caucasian,M,"177,8",Accident & Emergency,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Genitourinary,Renal/Genitourinary,0

In [32]:
train = df.sample(frac = 0.8)
test = df.drop(train.index)

In [39]:
train.describe()

,encounter_id,patient_id,hospital_id,age,elective_surgery,icu_id,apache_2_diagnosis,apache_post_operative,arf_apache,gcs_eyes_apache,...,d1_glucose_min,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,hospital_death
count,66034.000000,66034.000000,66034.000000,62990.000000,66034.000000,66034.000000,64854.000000,66034.000000,65524.000000,64682.000000,...,61917.000000,65524.000000,65524.000000,65524.000000,65524.000000,65524.000000,65524.000000,65524.000000,65524.000000,66034.000000
mean,65579.557531,65430.415392,105.837463,62.395539,0.184011,508.275828,185.492044,0.201517,0.028356,3.463545,...,114.223929,0.000900,0.015613,0.224254,0.013125,0.027150,0.007387,0.004395,0.021107,0.086713
std,37844.949874,37754.072529,62.857989,16.757400,0.387496,228.960328,86.004863,0.401137,0.165989,0.953362,...,38.022107,0.029994,0.123972,0.417093,0.113811,0.162523,0.085628,0.066152,0.143741,0.281416
min,1.000000,1.000000,2.000000,16.000000,0.000000,82.000000,101.000000,0.000000,0.000000,1.000000,...,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32722.000000,32702.250000,47.000000,52.000000,0.000000,369.000000,113.000000,0.000000,0.000000,3.000000,...,91.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,65682.000000,65215.000000,111.000000,65.000000,0.000000,504.000000,122.000000,0.000000,0.000000,4.000000,...,107.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,98419.750000,98232.750000,161.000000,75.000000,0.000000,679.000000,301.000000,0.000000,0.000000,4.000000,...,131.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,131047.000000,131048.000000,204.000000,89.000000,1.000000,927.000000,308.000000,1.000000,1.000000,4.000000,...,288.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
test.describe()

,encounter_id,patient_id,hospital_id,age,elective_surgery,icu_id,apache_2_diagnosis,apache_post_operative,arf_apache,gcs_eyes_apache,...,d1_glucose_min,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,hospital_death
count,16508.000000,16508.000000,16508.000000,15721.000000,16508.000000,16508.000000,16200.000000,16508.000000,16369.000000,16148.000000,...,15406.000000,16369.000000,16369.000000,16369.000000,16369.000000,16369.000000,16369.000000,16369.000000,16369.000000,16508.000000
mean,65796.735219,65925.622728,105.403501,62.081229,0.182215,508.406106,184.846852,0.200085,0.026391,3.463215,...,114.988836,0.000733,0.015762,0.231046,0.012096,0.023642,0.006353,0.003665,0.017411,0.086261
std,37679.294880,37861.444040,62.905587,16.769534,0.386033,229.346548,86.082661,0.400076,0.160301,0.950211,...,38.952037,0.027067,0.124555,0.421515,0.109318,0.151937,0.079457,0.060434,0.130801,0.280758
min,6.000000,2.000000,2.000000,16.000000,0.000000,82.000000,101.000000,0.000000,0.000000,1.000000,...,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33500.000000,33459.750000,47.000000,52.000000,0.000000,369.000000,113.000000,0.000000,0.000000,3.000000,...,91.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,65706.500000,66272.500000,109.000000,64.000000,0.000000,504.000000,122.000000,0.000000,0.000000,4.000000,...,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,98572.500000,98431.750000,161.000000,75.000000,0.000000,683.000000,301.000000,0.000000,0.000000,4.000000,...,131.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,131051.000000,131051.000000,204.000000,89.000000,1.000000,927.000000,308.000000,1.000000,1.000000,4.000000,...,288.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000